In [9]:
import pandas as pd # import the pandas libraries
import numpy as np

In [10]:
dataset = pd.read_csv("age_salary.csv") #

In [11]:
dataset # to show or to print the dataset

     1    25    35000
0    2  27.0  40000.0
1    3  50.0  54000.0
2    4  35.0      NaN
3    5  40.0  60000.0
4    6  35.0  58000.0
5    7   NaN  52000.0
6    8  48.0  79000.0
7    9  50.0  83000.0
8   10  37.0      NaN
9   11  21.0  24000.0
10  12   NaN  60000.0
11  13  63.0  70000.0

In [ ]:
x = dataset.iloc[:,:-1].values #iloc() is python function which is defined in the pandas module. iloc() used to select specific row or columns from the dataset 
y = dataset.iloc[:,-1].values

In [ ]:
x

In [ ]:
y

In [ ]:
from sklearn.impute import SimpleImputer 

imp = SimpleImputer(missing_values=np.nan,strategy="mean")

x = imp.fit_transform(x)

y = x.reshape(-1,1)


y = imp.fit_transform(y)

y = y.reshape(-1)

In [ ]:
x

In [ ]:
y